.BrailleTyping {
    &,
    *,
    *:after,
    *:before {
        box-sizing: border-box;
        user-select: none;
    }

    & > * + * {
        margin-top: 15px;
    }

    &__Braille {
        font-size: 64px;
        border: 2px solid #eeeeee;
        display: inline-block;
        line-height: 1;
    }
}
